.icons {
  position: fixed;
  left: 20px;
  top: 55%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(116, 175, 207, 0.275);

  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
} 
 .icons i {
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  transition: transform 0.3s ease-in-out, color 0.3s;
}

.icons a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(33, 31, 25, 0.7);
}

.icons a:hover i {
  color: #00c8ff;
  transform: rotate(10deg);
}
