
:root {
  --primary-color: linear-gradient(225deg, #312f26fa, #00e1ff);
  --secondary-color: #f8f9fa;
  --text-color: #333;
  --card-bg: #fff;
  --input-bg: #f4f4f4;
  --border-radius: 8px;
}

.contact {
  padding: 4rem 2rem;
  background: var(--secondary-color);
  text-align: center;
}

.section__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.section__subtitle {
  font-size: 1.2rem;
  color: gray;
  display: block;
  margin-bottom: 2rem;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 900px;
  margin: auto;
}

.contact__content {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__card {
  background: var(--secondary-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  text-align: center;
  transition: transform 0.3s ease;
}

.contact__card:hover {
  transform: scale(1.05);
}

.contact__card-icon {
  font-size: 2rem;
  color: var(--primary-color);
}

.contact__card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.contact__card-data {
  font-size: 1rem;
  color: gray;
  display: block;
  margin-bottom: 0.8rem;
}

.contact__button {
  display: inline-flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

.contact__button:hover {
  color: #0056b3;
}

.contact__button-icon {
  margin-left: 5px;
}

/* Formulaire */
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__form-div {
  text-align: left;
}

.contact__form-tag {
  font-weight: bold;
  color: var(--text-color);
}

.contact__form-input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  background: var(--input-bg);
  font-size: 1rem;
  outline: none;
}

.contact__form-input:focus {
  border-color: var(--primary-color);
}

.button {
  background: var(--primary-color);
  
  color: white;
  padding: 1rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition:  0.3s ease;
}



@media (min-width: 768px) {
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact__card-icon {
  color: #555; /* Couleur par défaut */
  transition: color 0.3s ease;
}

.contact__card-icon.facebook {
  color: #3b5998;
}

.contact__card-icon.whatsapp {
  color: #25d366;
}

.contact__card-icon.messenger {
  color: #0084ff; 
}

.contact__card-icon:hover {
  color: #ff7a59; 
}
