
.discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
}


.discover-button {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 30px;
  border: 2px solid transparent;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.discover-button .discover-text {
  transition: opacity 0.3s ease;
}

.discover-button .arrow {
  margin-left: 15px;
  transition: transform 0.3s ease;
}


.discover-button.open {
  background: linear-gradient(135deg, #42a5f5, #478ed1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.discover-button.open .discover-text {
  opacity: 0;
}

.discover-button.open .arrow {
  transform: rotate(90deg);
}


.discover-content {
  background-color: #fff;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.7s forwards;
  display: block;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.discover-link {
  color: #ffffff;
  font-size: 1.1rem;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.discover-link:hover {
  color: #1e88e5;
}

@media (max-width: 768px) {
  .discover-button {
    padding: 12px 25px;
    font-size: 1.1rem;
  }
  
  .discover-content {
    padding: 20px;
  }
} 



.discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
  display: block;
  z-index: 10000;
}
 
.discover-button {
  background-color: #10cae2;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.discover-button.open {
  background-color: #f25c5c;
}

.discover-text {
  margin-right: 10px;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(90deg);
}


.discover-content {
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

.discover-link {
  color: #239bb1;
  text-decoration: none;
  font-weight: bold;
}

.discover-link:hover {
  text-decoration: underline;
}
